{% extends "_base/_page-nav.twig" %}

{% block page_title %}
    {{ __('authextended.table_title', {'DEFAULT': 'Users List'})}}
{% endblock %}

{% block page_nav 'Settings/Extensions' %}

{% block page_main %}

<div class="row">
    <div class="col-xs-12 col-md-8 content">
      <h2>{{ title }}</h2>
      <div class="users-list">
        <table class="table">
          {% for user in users %}
            <tr>
              <td>{{ user.guid }}</td>
              <td>{{ user.displayname }}</td>
              <td>{{ user.purchasedate }}</td>
              <td>{{ user.plan }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <aside class="col-xs-12 col-md-4 sidebar">
    </aside>
</div>

{% endblock %}
